@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hover-card:hover .hover-image {
    transform: scale(1.1);
}

@media screen and (max-width: 990px) {
    .searchjob-main img {
        width: 130px !important;
    }

    .searchjob-main .ant-card .ant-card-body {
        display: flex !important;
        width: 100% !important;
    }

    .searchjob-main .ant-card .ant-card-meta-title {
        font-size: 14px !important;
        white-space: normal;
    }
    .searchjob-main .ant-card .ant-card-meta-description {
        font-size: 11px !important;
        white-space: normal;
    }
}
