@media screen and (max-width: 990px) {
    .signin-container {
        display: flex !important;
        flex: 1 !important;
        flex-direction: column !important;
        padding-top: 30px;
        gap: 40px !important;
    }

    .signin-card {
        width: 80% !important;
    }

    .signin-reg {
        width: 80% !important;
        height: 25vh !important;
        align-items: center;
        margin-bottom: 40px !important;
    }

    .signin-login {
        padding-right: 0 !important;
    }
}

